@using System.Web.Optimization
<!DOCTYPE html>
<html lang="zxx">
<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--====== Title ======-->
    <title>Qichen</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/Content/images/favicon.ico" type="image/png">
    <!--====== Flaticon css ======-->
    @Styles.Render("~/bundles/flaticon/css")
    <!--====== FontAwesome css ======-->
    @Styles.Render("~/bundles/fontawesome/css")
    <!--====== Bootstrap css ======-->
    @Styles.Render("~/bundles/bootstrap/css")
    <!--====== magnific-popup css ======-->
    @Styles.Render("~/bundles/magnific-popup/css")
    <!--====== Slick-popup css ======-->
    @Styles.Render("~/bundles/slick/css")
    <!--====== Jquery UI css ======-->
    @Styles.Render("~/bundles/jqueryui/css")
    <!--====== Nice Select css ======-->
    @Styles.Render("~/bundles/niceselect/css")
    <!--====== Animate css ======-->
    @Styles.Render("~/bundles/animate/css")
    <!--====== Default css ======-->
    @Styles.Render("~/bundles/default/css")
    <!--====== Style css ======-->
    @Styles.Render("~/bundles/style/css")

</head>
<body>
    <!--Html.Partial("_Preloader")-->
    @Html.Partial("_SearchForm")
    @Html.Partial("_Header")
    @Html.Partial("_Banner")
    @Html.Partial("_Category")
    @Html.Partial("_About")
    @Html.Partial("_Chefs")
    @Html.Partial("_Working")
    @Html.Partial("_Footer")
    @RenderBody()
    <!--=== End Reservation Section ===-->
    <!--====== Back To Top  ======-->

    <a href="#" class="back-to-top"><i class="far fa-angle-up"></i></a>
    <!--====== Jquery js ======-->
    @Scripts.Render("~/bundles/jquery/js")
    <!--====== Popper.min js ======-->
    @Scripts.Render("~/bundles/popper/js")
    <!--====== Bootstrap js ======-->
    @Scripts.Render("~/bundles/bootstrap/js")
    <!--====== Slick js ======-->
    @Scripts.Render("~/bundles/slick/js")
    <!--====== Magnific js ======-->
    @Scripts.Render("~/bundles/magnific-popup/js")
    <!--====== Isotope js ======-->
    @Scripts.Render("~/bundles/isotope/js")
    <!--====== Imagesloaded js ======-->
    @Scripts.Render("~/bundles/imgloaded/js")
    <!--====== Counterup js ======-->
    @Scripts.Render("~/bundles/counterup/js")
    <!--====== Waypoints js ======-->
    @Scripts.Render("~/bundles/waypoints/js")
    <!--====== Nice-select js ======-->
    @Scripts.Render("~/bundles/nice-select/js")
    <!--====== jquery UI js ======-->
    @Scripts.Render("~/bundles/jqueryui/js")
    <!--====== WOW js ======-->
    @Scripts.Render("~/bundles/wow/js")
    <!--====== Main js ======-->
    @Scripts.Render("~/bundles/theme/js")
</body>
</html>