
@{
    ViewBag.Title = "_footer";
}

<footer class="footer-dark dark-black-bg text-white p-r z-1 pt-80">
    <!--=== Footer Widget ===-->
    <div class="dot-bg bg_cover" style="background-image: url('../Content/images/bg/dot-bg.png');"></div>
    <!--=== Footer Widget Area ===-->
    <div class="footer-widget-area pb-10 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget about-company-widget pr-lg-30 mb-40 wow fadeInUp">
                        <div class="footer-content">
                            <h4 class="widget-title">Quick Links</h4>
                            <div class="footer-nav-content">
                                <ul class="footer-nav">
                                    <li>@Html.ActionLink("About Company", "About", "Pages")</li>
                                    <li>@Html.ActionLink("Home Shop", "Products", "Pages")</li>
                                    <li>@Html.ActionLink("Fast Food", "MenuFastfood", "Pages")</li>
                                    <li>@Html.ActionLink("Sea Food", "MenuSeaFood", "Pages")</li>
                                    <li>@Html.ActionLink("Reservation", "Reservations", "Pages")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget contact-info-widget pl-lg-70 mb-40 wow fadeInDown">
                        <div class="contact-info-box mb-20">
                            <span class="title">Call for order:</span>
                            <h3><a href="tel:+125865892">+373 22 23-78-61</a></h3>
                            <p><a href="mailto:hello@example.com">utmfood@google.com</a></p>
                        </div>
                        <div class="contact-info-box mb-20">
                            <span class="title">Location :</span>
                            <p>Strada Studenților 1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== Copyright Area ===-->
    <div class="copyright-area border-top-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!--=== Copyright Text ===-->
                    <div class="copyright-text">
                        <P>&copy; 2023 UTMfood, All Rights Reserved</P>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--=== Copyright Nav ===-->
                    <div class="copyright-nav float-lg-end">
                        <ul>
                            <li>@Html.ActionLink("Setting & Privacy", "Err404", "Pages")</li>
                            <li>@Html.ActionLink("FAQ", "Faq", "Pages")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--=== End Footer ===-->
</footer>
