@{
    ViewBag.Title = "Fast Food";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<section class="menu-section pt-125 pb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <div class="section-title text-center mb-50 wow fadeInUp">
                    <span class="sub-title">Best food menu</span>
                    <h2>Choose Your Best Menus</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="menu-img-box mb-50 pl-lg-30 wow fadeInLeft">
                    <img src="~/Content/images/menu/menu-single-1.png" alt="Menu Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="menu-content-box mb-50 wow fadeInUp">
                    <div class="single-menu-item mb-30">
                        <div class="thumb">
                            <img src="~/Content/images/menu/thumb-1.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="item-title-price">
                                @Html.ActionLink("Wasabi burger", "Products", "Pages")
                                <span class="dot-border"></span><span class="price">$25</span>
                            </h3>
                            <p>
                                A wasabi burger is a type of burger that includes wasabi, a Japanese horseradish,
                                either as a condiment or mixed into the patty, giving it a spicy kick.
                            </p>
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><span><a>(75k Reviews)</a></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-menu-item mb-30 wow fadeInUp">
                        <div class="thumb">
                            <img src="~/Content/images/menu/thumb-2.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="item-title-price">
                                @Html.ActionLink("Pizza Rossini", "Products", "Pages")
                                <span class="dot-border"></span><span class="price">$63</span>
                            </h3>
                            <p>
                                Pizza Rossini is a type of pizza that typically includes toppings such as prosciutto,
                                arugula, parmesan cheese, and sometimes truffle oil or balsamic glaze.
                            </p>
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><span><a>(36k Reviews)</a></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-menu-item mb-30 wow fadeInUp">
                        <div class="thumb">
                            <img src="~/Content/images/menu/thumb-3.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="item-title-price">
                                @Html.ActionLink("Baked Chicken Wings", "Products", "Pages")
                                <span class="dot-border"></span><span class="price">$99</span>
                            </h3>
                            <p>
                                Baked chicken wings are a popular appetizer or snack food made by coating chicken
                                wings in a seasoning or sauce and then baking them in the oven until they are crispy
                                and tender.
                            </p>
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><span><a>(31k Reviews)</a></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-menu-item mb-30 wow fadeInUp">
                        <div class="thumb">
                            <img src="~/Content/images/menu/thumb-4.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="item-title-price">
                                @Html.ActionLink("Seafood Pizza", "Products", "Pages")
                                <span class="dot-border"></span><span class="price">$52</span>
                            </h3>
                            <p>
                                Seafood pizza is a type of pizza topped with a variety of seafood such as shrimp,
                                clams, mussels, and sometimes even squid or octopus, along with cheese and tomato
                                sauce.
                            </p>
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><span><a>(19k Reviews)</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center pt-80">
            <div class="col-lg-6">
                <div class="menu-content-box pl-lg-30 mb-50 wow fadeInUp">
                    <div class="single-menu-item mb-30">
                        <div class="thumb">
                            <img src="~/Content/images/menu/thumb-5.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="item-title-price">
                                @Html.ActionLink("Pasta Fettuccine", "Products", "Pages")
                                <span class="dot-border"></span><span class="price">$25</span>
                            </h3>
                            <p>
                                Fettuccine pasta is a long, flat noodle that is often served with creamy sauces or in
                                dishes such as Fettuccine Alfredo.
                            </p>
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><span><a>(34k Reviews)</a></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-menu-item mb-30 wow fadeInUp">
                        <div class="thumb">
                            <img src="~/Content/images/menu/thumb-6.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="item-title-price">
                                @Html.ActionLink("Submarine Sandwich", "Products", "Pages")
                                <span class="dot-border"></span><span class="price">$48</span>
                            </h3>
                            <p>
                                A submarine sandwich, also known as a sub, is a type of sandwich made with a long
                                roll of bread filled with various meats, cheeses, vegetables, and condiments.
                            </p>
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><span><a>(32k Reviews)</a></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-menu-item mb-30 wow fadeInUp">
                        <div class="thumb">
                            <img src="~/Content/images/menu/thumb-7.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="item-title-price">
                                @Html.ActionLink("Chicken Biryani", "Products", "Pages")
                                <span class="dot-border"></span><span class="price">$105</span>
                            </h3>
                            <p>
                                Chicken Biryani is a South Asian rice dish made with flavorful spices, long-grain
                                rice, and chicken that is marinated and cooked in a yogurt-based sauce.
                            </p>
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><span><a>(15k Reviews)</a></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-menu-item mb-30 wow fadeInUp">
                        <div class="thumb">
                            <img src="~/Content/images/menu/thumb-8.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="item-title-price">
                                @Html.ActionLink("Shawarma-roll", "Products", "Pages")
                                <span class="dot-border"></span><span class="price">$52</span>
                            </h3>
                            <p>
                                A shawarma roll is a Middle Eastern street food consisting of seasoned meat (often
                                chicken or lamb) cooked on a rotating spit, wrapped in a warm flatbread, and
                                typically served with vegetables and sauces.
                            </p>
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><span><a>(55k Reviews)</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="menu-img-box mb-50 pl-lg-40 wow fadeInRight">
                    <img src="~/Content/images/menu/menu-single-2.png" alt="Menu Image">
                </div>
            </div>
        </div>
    </div>
</section><!--=== End Menu Section ===-->