@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<!--====== Start Header ======-->
<header class="header-area page-header transparent-header">
    <div class="top-bar text-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <div class="top-left">
                        <span class="text">Rice cakes at the rice cake store.</span>
                        <!-- Translation: Things are done best when they’re done by the professionals. -->
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="top-right d-flex align-items-center justify-content-lg-end">
                        <span class="text"><i class="fa fa-envelope"></i>Subscribe & Get 10% Off</span>
                        <ul class="social-link">
                            <li><a href="https://www.facebook.com"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== Header Navigation ===-->

    <div class="header-navigation navigation-two navigation-white">
        <div class="nav-overlay"></div>
        <div class="container-fluid">
            <!--=== Primary Menu ===-->
            <div class="primary-menu">
                <!--=== Site Branding ===-->
                <div class="site-branding">
                    <a href="@Url.Action("Index","Home")" class="brand-logo">
                        <img src="../Content/images/logo/logo-white.png"
                             alt="Site Logo">
                    </a>
                </div>
                <!--=== Nav Inner Menu ===-->
                <div class="nav-inner-menu">
                    <div class="nav-menu">
                        <!--=== Mobile Logo ===-->
                        <div class="mobile-logo mb-30 d-block d-xl-none text-center">
                            <a href="@Url.Action("Index","Home")" class="brand-logo">
                                <img src="../Content/images/logo/logo-black.png"
                                     alt="Site Logo">
                            </a>
                        </div>
                        <!--=== Main Menu ===-->
                        <nav class="main-menu">
                            <ul>
                                <li class="menu-item">
                                    <a>Menu</a>
                                    <ul class="sub-menu">
                                        <li>
                                        @Html.ActionLink("Menu Fastfood", "MenuFastFood", "Pages")</li>
                                        <li>@Html.ActionLink("Menu Seafood", "MenuSeaFood", "Pages")</li>
                                    </ul>
                                </li>
                                <li class="
                                    ">@Html.ActionLink("About", "About", "Pages")</li>
                                <li class="menu-item">
                                    <a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li>@Html.ActionLink("Our Products", "Products", "Pages")</li>
                                        <li>@Html.ActionLink("Shopping Cart", "Cart", "Pages")</li>
                                        <li>@Html.ActionLink("Checkout", "Checkout", "Pages")</li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li>@Html.ActionLink("Our Gallery", "Gallery", "Pages")</li>
                                        <li>@Html.ActionLink("Our Chefs", "Chefs", "Pages")</li>
                                        <li>@Html.ActionLink("Reservations", "Reservations", "Pages")</li>
                                        <!--=== <li><a href="404.html">404</a></li>===-->
                                        <li>@Html.ActionLink("FAQ", "Faq", "Pages")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Pages")</li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!--=== Nav Button ===-->
                        <div class="menu-button mt-40 d-xl-none">
                                        @Html.ActionLink("Book a Table", "Contact", "Pages",new {@class= "main-btn btn-red" })
                            @*<a href="Contact.cshtml" class="main-btn btn-red">
                                Book a Table<i class="fa fa-long-arrow-right"></i>
                            </a>*@
                        </div>
                    </div>
                    <!--=== Nav right Item ===-->
                    <div class="nav-right-item d-flex align-items-center">
                        <div class="search-button">
                            <div class="search-btn" data-bs-toggle="modal" data-bs-target="#search-modal">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <!-- Кнопка-триггер модального окна -->
                        <button type="button" class="main-btn btn-red" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                            Registration
                        </button>

                        <!-- Модальное окно -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                             data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:#DF3F00;">
                                        <h5 class="modal-title" id="staticBackdropLabel">Registration</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">
                                                    User
                                                    Name:
                                                </label>
                                                <input type="user" class="form-control" id="exampleInputEmail1"
                                                       aria-describedby="emailHelp" style="background-color:#FDF5F2;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">
                                                    Email
                                                    address:
                                                </label>
                                                <input type="email" class="form-control" id="exampleInputEmail1"
                                                       aria-describedby="emailHelp" style="background-color:#FDF5F2;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1"
                                                       class="form-label">Password:</label>
                                                <input type="password" class="form-control"
                                                       id="exampleInputPassword1" style="background-color:#FDF5F2;">
                                                <div id="emailHelp" class="form-text">
                                                    We'll never share your pass
                                                    with anyone else.
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">
                                                    Confirm
                                                    Password:
                                                </label>
                                                <input type="password_re" class="form-control"
                                                       id="exampleInputPassword1" style="background-color:#FDF5F2;">
                                                <div id="emailHelp" class="form-text">Use only the keyboard.</div>
                                            </div>
                                            <div class="mb-3 form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">
                                                    Check me
                                                    out
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer" style="background-color:#DF3F00;">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                style="background-color:#000000;">
                                            Cancel
                                        </button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-button d-xl-block d-none">
                            <a href="reservations.html" class="main-btn btn-red">
                                Book a Table<i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                        <div class="navbar-toggler">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header><!--====== End Header ======-->
<!--====== Start Breadcrumb Section ======-->
<section class="page-banner light-red-bg p-r z-1 bg_cover" style="background-image: url(/Content/images/bg/page-bg-1.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center wow fadeInDown">
                    <h1 class="page-title">About Us</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Breadcrumb Section ======-->
<!--=== Start About Section ===-->
<section class="about-shape-section pt-130 pb-80 p-r z-1">
    <div class="shape shape-one"><span><img src="~/Content/images/about/shape-1.png" alt="shape"></span></div>
    <div class="shape shape-two"><span><img src="~/Content/images/about/shape-2.png" alt="shape"></span></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-three_image-box text-lg-end mb-20">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <img src="~/Content/images/about/image-7.png" class="about-img-one mb-30 wow fadeInUp" alt="About Image">
                            <img src="~/Content/images/about/image-8.png" class="about-img-two mb-30 wow fadeInDown" alt="About Image">
                        </div>
                        <div class="col-md-6">
                            <img src="~/Content/images/about/image-9.png" class="about-img-three mb-30 wow fadeInRight" alt="About Image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-three_content-box content-box-gap pl-lg-45 mb-50">
                    <div class="section-title section-title-left mb-30 wow fadeInUp">
                        <span class="sub-title">About Qichen</span>
                        <h2>The Cleanest, Most Delicious Vegan Cookie Dough Ever.</h2>
                    </div>
                    <p class="wow fadeInDown">Indulge in guilt-free snacking with our vegan cookie dough recipe! Made with only the cleanest and healthiest ingredients, you can enjoy the delectable taste of cookie dough without any added sugar, dairy, or eggs. Our recipe is easy to make and packed with nutritious ingredients that will satisfy your sweet tooth and leave you feeling energized. Get ready to enjoy the cleanest, most delicious vegan cookie dough ever!</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fancy-icon-box mb-50 wow fadeInUp">
                                <div class="icon">
                                    <i class="flaticon-food-serving"></i>
                                </div>
                                <div class="text">
                                    <h5>
                                        532+ Popular Testy
                                        Foods Menu
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fancy-icon-box mb-50 wow fadeInUp">
                                <div class="icon">
                                    <i class="flaticon-discuss"></i>
                                </div>
                                <div class="text">
                                    <h5>6534+ Satisfied Our Global Customers</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fancy-icon-box mb-50 wow fadeInUp">
                                <div class="icon">
                                    <i class="flaticon-certificate"></i>
                                </div>
                                <div class="text">
                                    <h5>We’ve 25+ Years Of Experience</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fancy-icon-box mb-50 wow fadeInUp">
                                <div class="icon">
                                    <i class="flaticon-smartphone"></i>
                                </div>
                                <div class="text">
                                    <h5>
                                        432+ Foods Iteams
                                        Online Orders
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--=== End About Section ===-->
<!--=== Start Fact Section ===-->
<section class="fact-section dark-red-bg pt-75 pb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-counter-item text-white mb-40 d-flex wow fadeInUp justify-content-center">
                    <div class="counter-inner-item">
                        <div class="icon">
                            <i class="flaticon-retention"></i>
                        </div>
                        <div class="text">
                            <h2 class="number"><span class="count">6834</span>+</h2>
                            <p>Happy Customers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-counter-item text-white mb-40 d-flex wow fadeInUp justify-content-center">
                    <div class="counter-inner-item">
                        <div class="icon">
                            <i class="flaticon-chef"></i>
                        </div>
                        <div class="text">
                            <h2 class="number"><span class="count">356</span>+</h2>
                            <p>Passionate Chef’s</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-counter-item text-white mb-40 d-flex wow fadeInUp justify-content-center">
                    <div class="counter-inner-item">
                        <div class="icon">
                            <i class="flaticon-romantic-dinner"></i>
                        </div>
                        <div class="text">
                            <h2 class="number"><span class="count">8534</span>+</h2>
                            <p>Favorite Dishes</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-counter-item text-white mb-40 d-flex wow fadeInUp justify-content-center">
                    <div class="counter-inner-item">
                        <div class="icon">
                            <i class="flaticon-costumer"></i>
                        </div>
                        <div class="text">
                            <h2 class="number"><span class="count">7853</span>+</h2>
                            <p>Customer Rating</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--=== End Fact Section ===-->
<!--=== Start Team Section ===-->
<section class="team-section light-red-bg p-r z-1 pt-120 pb-100">
    <div class="dot-bg bg_cover" style="background-image: url(/Content/images/bg/dot-bg.png);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-10">
                <div class="section-title text-center mb-50 wow fadeInDown">
                    <span class="sub-title">BEST FOOD CHEFS</span>
                    <h2>
                        Meet Our Experience
                        & Master Chefs
                    </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-item mb-30 wow fadeInUp">
                    <div class="chef-img">
                        <img src="~/Content/images/team/chef-7.jpg" alt="Chef Image">
                        <div class="chef-overlay"></div>
                        <div class="hover-content">
                            <h3 class="title">Jimmie K. Cryer</h3>
                            <p class="position">Senior Chef</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-item mb-30 wow fadeInUp">
                    <div class="chef-img">
                        <img src="~/Content/images/team/chef-8.jpg" alt="Chef Image">
                        <div class="chef-overlay"></div>
                        <div class="hover-content">
                            <h3 class="title">Jimmie K. Cryer</h3>
                            <p class="position">Senior Chef</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-item mb-30 wow fadeInUp">
                    <div class="chef-img">
                        <img src="~/Content/images/team/chef-9.jpg" alt="Chef Image">
                        <div class="chef-overlay"></div>
                        <div class="hover-content">
                            <h3 class="title">Jimmie K. Cryer</h3>
                            <p class="position">Senior Chef</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-item mb-30 wow fadeInUp">
                    <div class="chef-img">
                        <img src="~/Content/images/team/chef-10.jpg" alt="Chef Image">
                        <div class="chef-overlay"></div>
                        <div class="hover-content">
                            <h3 class="title">Jimmie K. Cryer</h3>
                            <p class="position">Senior Chef</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="team-button mt-30 text-center wow fadeInUp">
                    <a href="chefs.html" class="main-btn btn-red">become a chef<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section><!--=== End Team Section ===-->
<!--=== Start Team Section ===-->
<section class="testimonial-section-three pb-130">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-8">
                <div class="section-title section-title-left mb-50 wow fadeInLeft">
                    <span class="sub-title">Foods reviews</span>
                    <h2>Global Customer Feedback</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-arrows wow fadeInRight mb-60"></div>
            </div>
        </div>
        <div class="testimonial-slider-three wow fadeInUp">
            <div class="single-testimonial-three">
                <div class="testimonial-inner-content">
                    <div class="rating-quote-box d-flex align-items-center justify-content-between">
                        <div class="ratings-box">
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="quote">
                            <i class="flaticon-right-quote"></i>
                        </div>
                    </div>
                    <h3>“Yamee Foods”</h3>
                    <p>This dish is absolutely delicious! The flavors are exceptional and every bite is pure heaven. Highly recommended!</p>
                    <div class="author-title-thumb">
                        <div class="author-thumb">
                            <img src="~/Content/images/testimonial/author-thumb-2.png" alt="Author Thumb">
                        </div>
                        <div class="author-title">
                            <h3 class="title">Hubert J. Johnson</h3>
                            <p class="position">CEO & Founder</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-testimonial-three">
                <div class="testimonial-inner-content">
                    <div class="rating-quote-box d-flex align-items-center justify-content-between">
                        <div class="ratings-box">
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="quote">
                            <i class="flaticon-right-quote"></i>
                        </div>
                    </div>
                    <h3>“Mind blowing”</h3>
                    <p>This dish is amazing! The flavors are outstanding and each bite is a real treat. Highly recommended!</p>
                    <div class="author-title-thumb">
                        <div class="author-thumb">
                            <img src="~/Content/images/testimonial/author-thumb-3.png" alt="Author Thumb">
                        </div>
                        <div class="author-title">
                            <h3 class="title">Dwayne S. Gilfillan</h3>
                            <p class="position">Junior Manager</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-testimonial-three">
                <div class="testimonial-inner-content">
                    <div class="rating-quote-box d-flex align-items-center justify-content-between">
                        <div class="ratings-box">
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="quote">
                            <i class="flaticon-right-quote"></i>
                        </div>
                    </div>
                    <h3>“Delicious”</h3>
                    <p>Wow, this dish is fantastic! The flavors are amazing and every bite is a true pleasure. Highly recommended!</p>
                    <div class="author-title-thumb">
                        <div class="author-thumb">
                            <img src="~/Content/images/testimonial/author-thumb-4.png" alt="Author Thumb">
                        </div>
                        <div class="author-title">
                            <h3 class="title">Michael B. Jorgensen</h3>
                            <p class="position">Businessman</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-testimonial-three">
                <div class="testimonial-inner-content">
                    <div class="rating-quote-box d-flex align-items-center justify-content-between">
                        <div class="ratings-box">
                            <ul class="ratings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="quote">
                            <i class="flaticon-right-quote"></i>
                        </div>
                    </div>
                    <h3>“Mind blowing”</h3>
                    <p>This dish is simply amazing! The flavors are perfectly balanced and every bite is a delight. Highly recommended!</p>
                    <div class="author-title-thumb">
                        <div class="author-thumb">
                            <img src="~/Content/images/testimonial/author-thumb-1.png" alt="Author Thumb">
                        </div>
                        <div class="author-title">
                            <h3 class="title">Brian A. Barnes</h3>
                            <p class="position">CEO & Founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--=== End Team Section ===-->