@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}


<!--====== Start Header ======-->
<header class="header-area page-header transparent-header">
    <div class="top-bar text-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <div class="top-left">
                        <span class="text">Itadakimasu</span>
                        <!-- to eat and receive -->
                        <!-- It is an important part of Japanese food culture to thank everything involved the preparation of a meal – including the chef, the waiter, and the food itself – and the phrase itadakimasu does just that. -->
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="top-right d-flex align-items-center justify-content-lg-end">
                        <span class="text"><i class="
                                              
                                              fa-envelope"></i>Subscribe & Get 10% Off</span>
                        <ul class="social-link">
                            <li><a href="https://www.facebook.com"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== Header Navigation ===-->
    <div class="header-navigation navigation-two navigation-white">
        <div class="nav-overlay"></div>
        <div class="container-fluid">
            <!--=== Primary Menu ===-->
            <div class="primary-menu">
                <!--=== Site Branding ===-->
                <div class="site-branding">
                    <a href="@Url.Action("Index","Home")" class="brand-logo">
                        <img src="../Content/images/logo/logo-white.png"
                             alt="Site Logo">
                    </a>
                </div>
                <!--=== Nav Inner Menu ===-->
                <div class="nav-inner-menu">
                    <div class="nav-menu">
                        <!--=== Mobile Logo ===-->
                        <div class="mobile-logo mb-30 d-block d-xl-none text-center">
                            <a href="@Url.Action("Index","Home")" class="brand-logo">
                                <img src="../Content/images/logo/logo-black.png"
                                     alt="Site Logo">
                            </a>
                        </div>
                        <!--=== Main Menu ===-->
                        <nav class="main-menu">
                            <ul>
                                <li class="
                                    
                                    
                                    
                                    
                                    ">
                                    <a href="#">Menu</a>
                                    <ul class="sub-menu">
                                        <li>@Html.ActionLink("Menu Fastfood", "MenuFastFood", "Pages")</li>
                                        <li>@Html.ActionLink("Menu Seafood", "MenuSeaFood", "Pages")</li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    @Html.ActionLink("About", "About", "Pages")
                                </li>
                                <li class="menu-item has-children">
                                    <a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li>@Html.ActionLink("Our Products", "Products", "Pages")</li>
                                        <li>@Html.ActionLink("Shopping Cart", "Cart", "Pages")</li>
                                        <li>@Html.ActionLink("Checkout", "Checkout", "Pages")</li>
                                    </ul>
                                </li>
                                <li class="menu-item 
                                    
                                    
                                    
                                    ">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li>@Html.ActionLink("Our Gallery", "Gallery", "Pages")</li>
                                        <li>@Html.ActionLink("Our Chefs", "Chefs", "Pages")</li>
                                        <li>@Html.ActionLink("Reservations", "Reservations", "Pages")</li>
                                        <!--=== <li><a href="404.html">404</a></li>===-->
                                        <li>@Html.ActionLink("FAQ", "Faq", "Pages")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Pages")</li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!--=== Nav Button ===-->
                        <div class="menu-button mt-40 d-xl-none">
                            <a href="Contact.cshtml" class="main-btn btn-red">
                                Book a Table<i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!--=== Nav right Item ===-->
                    <div class="nav-right-item d-flex align-items-center">
                        <div class="search-button">
                            <div class="search-btn" data-bs-toggle="modal" data-bs-target="#search-modal">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <!-- Кнопка-триггер модального окна -->
                        <button type="button" class="main-btn btn-red" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                            Registration
                        </button>

                        <!-- Модальное окно -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                             data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:#DF3F00;">
                                        <h5 class="modal-title" id="staticBackdropLabel">Registration</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">
                                                    User
                                                    Name:
                                                </label>
                                                <input type="user" class="form-control" id="exampleInputEmail1"
                                                       aria-describedby="emailHelp" style="background-color:#FDF5F2;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">
                                                    Email
                                                    address:
                                                </label>
                                                <input type="email" class="form-control" id="exampleInputEmail1"
                                                       aria-describedby="emailHelp" style="background-color:#FDF5F2;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1"
                                                       class="form-label">Password:</label>
                                                <input type="password" class="form-control"
                                                       id="exampleInputPassword1" style="background-color:#FDF5F2;">
                                                <div id="emailHelp" class="form-text">
                                                    We'll never share your pass
                                                    with anyone else.
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">
                                                    Confirm
                                                    Password:
                                                </label>
                                                <input type="password_re" class="form-control"
                                                       id="exampleInputPassword1" style="background-color:#FDF5F2;">
                                                <div id="emailHelp" class="form-text">Use only the keyboard.</div>
                                            </div>
                                            <div class="mb-3 form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">
                                                    Check me
                                                    out
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer" style="background-color:#DF3F00;">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                style="background-color:#000000;">
                                            Cancel
                                        </button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-button d-xl-block d-none">
                            <a href="reservations.html" class="main-btn btn-red">
                                Book a Table<i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                        <div class="navbar-toggler">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</header>
<!--====== End Header ======-->
<!--====== Start Breadcrumb Section ======-->
<section class="page-banner light-red-bg p-r z-1 bg_cover" style="background-image: url(/Content/images/bg/page-bg-1.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center wow fadeInDown">
                    <h1 class="page-title">Checkout</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Breadcrumb Section ======-->
<!--====== Start Checkout Section ======-->
<section class="checkout-page pt-125 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form id="checkout-form" name="checkout_form" class="contact-form-one rmb-35" action="#" method="POST">
                    <h3 class="from-title mb-25">Order Conformation</h3>
                    <hr>
                    <div class="row mt-35">
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="first-name" name="first-name" class="form_control" value="" placeholder="First Name" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="last-name" name="last-name" class="form_control" value="" placeholder="Last Name" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="number" name="number" class="form_control" value="" placeholder="Phone Number" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="email" id="emailAddress" name="email" class="form_control" value="" placeholder="Email Address" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="company-name" name="company-name" class="form_control" value="" placeholder="Company name (optional)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="company-address" name="company-address" class="form_control" value="" placeholder="Company Address (optional)">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h5 class="mb-15">Your Address</h5>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="country" name="country" class="form_control" value="" placeholder="Country" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="city" name="city" class="form_control" value="" placeholder="City" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="state" name="state" class="form_control" value="" placeholder="State" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="zip" name="zip" class="form_control" value="" placeholder="Zip" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="street-name" name="street-name" class="form_control" value="" placeholder="House, street name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="apartment-name" name="apartment-name" class="form_control" value="" placeholder="Apartment, suite, unit etc. (optional)">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h5 class="mb-15">Order Notes (optional)</h5>
                        </div>
                        <div class="col-md-12">
                            <div class="form_group">
                                <textarea name="order-note" id="order-note" class="form_control" rows="5" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <form id="payment-method" name="payment-method" class="checkout-form mb-30" action="#" method="POST">
                    <h3 class="from-title mb-25">Order Summary</h3>
                    <hr>
                    <div class="package-summary mt-35 mb-25">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Red Alaskan King <strong>× 2</strong></td>
                                    <td>$303.00</td>
                                </tr>
                                <tr>
                                    <td>Pizza With Seafood <strong>× 2</strong></td>
                                    <td>$70.00</td>
                                </tr>
                                <tr>
                                    <td>Footlong Submarine <strong>× 1</strong></td>
                                    <td>$50.00</td>
                                </tr>
                                <tr>
                                    <td>Shipping Fee</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <td>Vat</td>
                                    <td>$5.00</td>
                                </tr>
                                <tr>
                                    <td><strong>Order Total</strong></td>
                                    <td><strong>$438.00</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <input class="form_control" type="text" placeholder="Coupon Code">
                    <h5 class="title mt-20 mb-15">Payment Method</h5>
                    <div class="form_group">
                        <select class="form_control" name="payment" id="payment">
                            <option value="default">Choose an Option</option>
                            <option value="payment1">chash on delivey</option>
                            <option value="payment2">Bank Transfer</option>
                            <option value="payment3">Paypal</option>
                        </select>
                    </div>
                    <button type="submit" class="main-btn btn-red mt-25 w-100">Proceed to Payment</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--====== End Checkout Section ======-->