@{
    ViewBag.Title = "Menu Seafood";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<!--====== Start Menu Section ======-->
<section class="menu-section pt-120 pb-95">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-12">
                <div class="section-title text-center mb-60 wow fadeInUp">
                    <span class="sub-title">Best seafood menu</span>
                    <h2>Our Popular SeaFood Menus</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="single-menu-item-three mb-30 wow fadeInUp">
                    <div class="thumb">
                        <img src="~/Content/images/menu/thumb-9.png" alt="Menu Image">
                    </div>
                    <div class="text">
                        <h3 class="item-title-price">
                            @Html.ActionLink("Red king Crab", "Products", "Pages")
                            <span class="dot-border"></span><span class="price">$65</span>
                        </h3>
                        <p>The red king crab is a species of large and flavorful crab found in the North Pacific, known for its sweet and succulent meat that is often served as a gourmet seafood dish.</p>
                        <ul class="ratings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><span><a>(24k Reviews)</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-menu-item-three mb-30 wow fadeInUp">
                    <div class="thumb">
                        <img src="~/Content/images/menu/thumb-10.png" alt="Menu Image">
                    </div>
                    <div class="text">
                        <h3 class="item-title-price">
                            @Html.ActionLink("Alaskan king Crab", "Products", "Pages")
                            <span class="dot-border"></span><span class="price">$73</span>
                        </h3>
                        <p>The Alaskan king crab, also known as the king crab, is a large and flavorful species of crab found in the cold waters of the North Pacific, prized for its tender, juicy meat and typically served as a luxurious seafood dish.</p>
                        <ul class="ratings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><span><a>(25k Reviews)</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-menu-item-three mb-30 wow fadeInUp">
                    <div class="thumb">
                        <img src="~/Content/images/menu/thumb-11.png" alt="Menu Image">
                    </div>
                    <div class="text">
                        <h3 class="item-title-price">
                            @Html.ActionLink("Boston Lobster", "Products", "Pages")
                            <span class="dot-border"></span><span class="price">$45</span>
                        </h3>
                        <p>Boston lobster, also known as the American lobster, is a popular and highly prized seafood species found in the Atlantic Ocean, known for its sweet and succulent meat that can be prepared in a variety of ways.</p>
                        <ul class="ratings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><span><a>(5k Reviews)</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-menu-item-three mb-30 wow fadeInUp">
                    <div class="thumb">
                        <img src="~/Content/images/menu/thumb-13.png" alt="Menu Image">
                    </div>
                    <div class="text">
                        <h3 class="item-title-price">
                            @Html.ActionLink("Flat-lay Delicious", "Products", "Pages")
                            <span class="dot-border"></span><span class="price">$49</span>
                        </h3>
                        <p>Flat-lay delicious refers to a visually appealing and aesthetically pleasing presentation of food, typically arranged and photographed from an overhead perspective, showcasing the colors, textures, and arrangement of ingredients.</p>
                        <ul class="ratings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><span><a>(20k Reviews)</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-menu-item-three mb-30 wow fadeInUp">
                    <div class="thumb">
                        <img src="~/Content/images/menu/thumb-14.png" alt="Menu Image">
                    </div>
                    <div class="text">
                        <h3 class="item-title-price">
                            @Html.ActionLink("Shrimp Food Prawns", "Products", "Pages")
                            <span class="dot-border"></span><span class="price">$173</span>
                        </h3>
                        <p>Shrimp, food, and prawns are all terms used to describe various species of small, edible crustaceans that are typically boiled, grilled, or sautéed and served as a seafood delicacy.</p>
                        <ul class="ratings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><span><a>(14k Reviews)</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-menu-item-three mb-30 wow fadeInUp">
                    <div class="thumb">
                        <img src="~/Content/images/menu/thumb-15.png" alt="Menu Image">
                    </div>
                    <div class="text">
                        <h3 class="item-title-price">
                            @Html.ActionLink("Steamed Crabs Dish", "Products", "Pages")
                        <span class="dot-border"></span><span class="price">$125</span></h3>
                        <p>The steamed crabs dish typically consists of whole crabs that have been cooked with steam and seasoned with a variety of spices and herbs, and is often served with melted butter and lemon wedges on the side.</p>
                        <ul class="ratings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><span><a>(8k Reviews)</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-menu-item-three mb-30 wow fadeInUp">
                    <div class="thumb">
                        <img src="~/Content/images/menu/thumb-16.png" alt="Menu Image">
                    </div>
                    <div class="text">
                        <h3 class="item-title-price">
                            @Html.ActionLink("Steamed Crabs", "Products", "Pages")
                            <span class="dot-border"></span><span class="price">$73</span>
                        </h3>
                        <p>Steamed crabs are a seafood dish made by cooking fresh crabs with steam, resulting in a flavorful and juicy meal.</p>
                        <ul class="ratings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><span><a>(13k Reviews)</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Menu Section ======-->